.country{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.country-box{
    border: 5px solid goldenrod;
    background-color: skyblue;
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.country-box img{
    width: 200px;
}